body {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: inherit;
}
main {
  flex: 1;
}
* {
  box-sizing: border-box;
}
.container {
  display: flex;
  height: 100%;
}
.first {
  flex-basis: 240px;
}
.second {
  flex: 1;
  background-color: #eee;
}
.third {
  flex-basis: 180px;
  flex-grow: 0;
  flex-shrink: 0;
}
.first, .second, .third {
  padding: 1em;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  flex-basis: 250px;
  background-color: white;
  margin: .5rem;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.23);
}
p {
  padding: .5rem 1rem;
}
img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
html {
  height: 100%;
}
